.Alarm-item{
    width: 300px;
    height: 400px;
     background: linear-gradient(135deg, #061a32 0%, #586f8a 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: black 0 0 10px;
    padding: 10px;
}

.Alarms-container{
    display: flex;
    gap: 50px;
    width: 90%;
    flex-wrap:wrap;
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: -600px;

}
.Alarm-item img{
    width: 300px;
    height: 200px;
    box-shadow: black 0 0 10px;
    border-radius: 20px 20px 0 0;
     box-shadow: 0px 0px 5px #0084ff;
    
}


.Alarm-container hr{
    width: 100%;
}