:root{
    --color-primary: #073B8A; 
    --color-primary-12: rgba(7, 59, 138, 0.12);
    --color-primary-03: rgba(7, 59, 138, 0.03);
    --primary-inner: rgba(3, 103, 252, 0.358);
    --text-dark: #0E1626;
    --neutral-text: #253544;
    --muted-dark: #475569;
    --muted: #6B7280;
    --accent-warm: #000000;
    --color-border: rgb(0, 238, 255)
}



.request-service-btn{
    margin-left: 80px;
    padding: 10px 15px;
     background-color: rgba(0, 86, 162, 0.349);
     box-shadow: inset 2px 3px 7px #ffffffad, inset -3px -3px 7px rgb(0, 0, 0);
    color: white;
    border: #5253534f 2px solid;
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}

#tech-news {
  padding: 20px;
  background-color: #f7f9fc;
  text-align: center;
  font-family: Arial, sans-serif;
}

#tech-news h2 {
  color: #1a237e;
  margin-bottom: 20px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.news-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 350px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.news-card:hover {
  transform: scale(1.03);
}

.news-card img {
  width: 100%;
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
}

.news-card h3 {
  font-size: 1.1rem;
  color: #0d47a1;
  margin: 10px 0;
}

.news-card p {
  font-size: 0.9rem;
  color: #444;
}

.news-card a {
  display: inline-block;
  margin-top: 10px;
  color: #1565c0;
  font-weight: bold;
  text-decoration: none;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px;
  margin-top: -500px;
  align-content: center;
  justify-content: center;
}

.service-item{
  width: 300px;
    height: 450px;
     background: linear-gradient(135deg, #061a32 0%, #586f8a 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: black 0 0 10px;
    padding: 10px;
}

.service-item img{
  width: 300px;
    height: 200px;
    box-shadow: black 0 0 10px;
    border-radius: 20px 20px 0 0;
     box-shadow: 0px 0px 5px #0084ff;
  
}


.service-search{
  padding: 10px 100px;
  margin: 20px 570px ;
  border-radius: 50px;
  box-shadow: inset 2px 3px 7px #000000ad, inset -3px -3px 7px rgb(255, 255, 255);
  background: #ffffffee;
  color: rgb(0, 0, 0);
  border: transparent;

}


@media (max-width: 780px) {
  .service-search{
  padding: 10px 100px;
  margin: 20px 25%; ;
  }

}