:root{
    --color-primary: #073B8A; /* darker tech blue */
    --color-primary-12: rgba(7, 59, 138, 0.12);
    --color-primary-03: rgba(7, 59, 138, 0.03);
    --primary-inner: rgba(3, 103, 252, 0.358);
    --text-dark: #0E1626;
    --neutral-text: #253544;
    --muted-dark: #475569;
    --muted: #6B7280;
    --accent-warm: #000000;
    --color-border: rgb(0, 238, 255)
}


.services-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  padding: 100px;
  justify-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin-top: -600px;
  justify-content: center;
  margin-left: 100px;
}

main{
    padding-top: 50px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 40%;
  height: 40%;
  font-size: large;
  border-top-right-radius: 100px;
  box-shadow: 
  inset 0 0px 12px var(--color-border);
  background: 
    linear-gradient(90deg, var(--color-border) 4px, transparent 4px) top left,
    linear-gradient(180deg,var(--color-border) 4px, transparent 4px) top left,
    linear-gradient(270deg,var(--color-border) 4px, transparent 4px) bottom right,
    linear-gradient(0deg,  var(--color-border)4px, transparent 4px) bottom right;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: #1a2b4db8;
}

.service-item img {
  width: 200px;
  object-fit: cover;
  height: 200px;
object-fit: cover;
margin: 20px;
padding: 0.5px;
    border: var(--color-border) 2px solid;
    box-shadow: var(--color-border) 0 0 12px;
}

.service-item h3 {
  font-size: 18px;
  margin: 0 0 10px;
  text-decoration: underline;
  color: #ffffff;
}

.service-item p {
  display: block; /* Show paragraph text */
  padding-right: 20px;
}

.services-nav-aside{
    margin-top: 0;
    margin-left: -10px;
    background-color: rgba(1, 70, 127, 0.567);
    position: fixed;
    height: 100vh;
    top: 100px;
    position: sticky;
    z-index: 1;
    width: 200px;
}

.toggle-sidebar-btn{
    margin-left: 200px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2rem;
    color: black;
}

.toggle-sidebar-btn:hover {
    background-color: darken(var(--color-primary), 10%);
}

.sidebar{
    position: sticky;
    top: 100px;
    left: 0;
    width: 200px;
    height: 80vh;
    transform: translateX(-100%);
    z-index: 100;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -40px;
    margin-left: 20px;
}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.toggle-sidebar-btn{
    border: black 2px solid;
}

.request-service-btn{
    margin-left: 80px;
    padding: 10px 15px;
     background-color: rgba(0, 86, 162, 0.349);
     box-shadow: inset 2px 3px 7px #0088ffad, inset -3px -3px 7px rgba(4, 196, 255, 0.449);
    color: white;
    border: #5253534f 2px solid;
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}