.Page-Heading{
    margin-top: 73px;
}

.toggle-sidebar-btn{
    margin-left: 200px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2rem;
    color: black;
}

.toggle-sidebar-btn:hover {
    background-color: darken(var(--color-primary), 10%);
}

.sidebar{
    position: sticky;
    top: 100px;
    left: 0;
    width: 200px;
    height: 80vh;
    transform: translateX(-100%);
    z-index: 100;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -40px;
    margin-left: 20px;
}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.toggle-sidebar-btn{
    border: rgba(5, 94, 154, 0.647) 2px solid;
     box-shadow: inset 2px 3px 5px #024079ad, inset -3px -3px 5px rgba(240, 244, 245, 0.449);
    background: transparent;
    border-radius: 50px;
    margin-left: 210px;
}

.services-nav-aside{
    margin-top: 0;
    margin-left: -10px;
    background-color: rgba(1, 70, 127, 0.567);
    position: fixed;
    height: 100vh;
    top: 100px;
    position: sticky;
    z-index: 1;
    width: 200px;
}
