form {
  width: 100%;
   padding: 60px;
   flex-wrap: wrap;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.Content{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px;
}

.contact-group{
    width: 500px;
    background: #152e4c;
    margin-left: auto;
    height: 500px;
    padding: 25px   ;
    border-radius: 10px;
    background: linear-gradient(280deg, #66a2e6 0%, #152e4c 100%);
    box-shadow: 0 0 15px #000000b0;
    margin-top: -30px;
}
.service-form{
    background: linear-gradient(135deg, #66a2e6 0%, #152e4c 100%);
  border-radius: 10px;
  max-width: 50%;
align-items: center;
  justify-items: center;
  margin-right: 100px;
  padding: 20px;
  margin-top: 50px;
    box-shadow: 0 0 15px #000000b0;

}



input, textarea, button {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.Page-Heading{
    margin-top: 73px;
}

.form-group input{
  border-radius: 50px;
  width: 70%;
  border: rgba(24, 68, 88, 0.296) 2px solid;
  box-shadow: inset 3px 3px 7px #23323e, inset -3px -3px 7px #8ebdff3c;
  min-height: 2em;
  font-size: 14px;
  padding-left: 20px;
  background: transparent;

}

.form-group select{
    border-radius: 50px;
  border: rgba(20, 71, 102, 0.653) 2px solid;
  box-shadow: inset 1px 1px 2px #5d646aad, inset -1px -1px 5px rgba(102, 142, 174, 0.449);
  background: transparent;
  color: rgb(0, 0, 0);
  padding: 6px 10px;
  margin-top: 10px;
  
}

.contact-group a{
    color: white;
    text-decoration: none;
}

.contact-group li {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}
.contact-group a:hover{

}
